# Set the default behavior, in case people don't have core.autocrlf set:
* text=auto

# Declare text files that will always be normalized and converted
#   to native line endings on checkout:
*.txt text
*.md text
*.c text
*.h text
*.hex text

# Declare files that will always have LF/CRLF line endings on checkout:
*.svg eol=lf
*.sh eol=lf

# Declare files that are truly binary and should not be modified:
*.png binary
*.jpg binary
*.pdf binary
